# Q1. Create a list of squared integers from a given list of integers.

In [1]:
l=[1,2,3,4,5]
l1=[]

In [2]:
for i in l:
    i=i*i
    l1.append(i)
print(l1)

[1, 4, 9, 16, 25]

# or USE OF LIST COMPREHENSION

In [3]:
l1=[print(i*i,end = " ") for i in l]

1 4 9 16 25

# Q2. GET Multiplication table for given integer.

In [4]:
a=int(input("ENTER number for multiplication TABLE : "))
for i in range(1,11):
    print(a,"x",i,"=",a*i)

ENTER number for multiplication TABLE : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# Q3. Create a list of even numbers from a given list of integers.

In [5]:
l=[4,5,2,9,7,3,10]
even_list=[]
odd_list=[]

In [6]:
for i in l:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print(even_list,odd_list)

[4, 2, 10] [5, 9, 7, 3]

In [7]:
even_list

[4, 2, 10]

In [8]:
odd_list

[5, 9, 7, 3]

# Q4. GET Vowels list

In [9]:
string =input("ENTER A STRING : ")
s2=string.lower()
s1=[]
for i in s2:
    if i=='a' or i=='e'or i=='i'or i=='o' or i=='u':
        s1.append(i)
print(s1,"are the vowels in a given string.")

ENTER A STRING : Education
['e', 'u', 'a', 'i', 'o'] are the vowels in a given string.

# Q5.Create a list of all the first letters of words in a given sentence.

In [10]:
string = "Learn Data Science Coders..."

In [11]:
l1=string.split()
l2=[]

In [12]:
l1

['Learn', 'Data', 'Science', 'Coders...']

In [13]:
for i in l1:
    l2.append(i[0])
print(l2,"are the first letters of a sentence")

['L', 'D', 'S', 'C'] are the first letters of a sentence

# Q6. Create a list of all the unique words from a given sentence.

In [14]:
sentence = "Hello Hello 1 2 3 1 2 3"

In [15]:
l1=set(sentence)

In [16]:
l1

{' ', '1', '2', '3', 'H', 'e', 'l', 'o'}

In [17]:
list(l1)

['l', '2', 'H', 'o', '3', '1', ' ', 'e']

# Q7.Create a list of all the anagrams of a given word from a list of words.

In [ ]:
Like : eat-ate-tea   and     tan-ant
---ANAGRAM STRINGS
To Check whether two strings are ANAGRAM strings
1. Both Strings should be in EQUAL LENGTH
2. Both Strings should have SAME CHARACTERS may be in DIFFERENT ORDER

In [18]:
str1=input("Enter string1 :")
str2=input("Enter string2 :")

if len(str1)==len(str2) and sorted(str1)==sorted(str2):
    print("String 1  and string 2 are anagrams")
else:
    print("String1 and String2 are not Anagrams.")

Enter string1 :tea
Enter string2 :ate
String 1  and string 2 are anagrams

# Q8.Create a list of all the permutations of a given string using list comprehension

In [19]:
string="123"

In [20]:
B=[(x+y+z) for x in string for y in string for z in string]

In [21]:
B

['111',
 '112',
 '113',
 '121',
 '122',
 '123',
 '131',
 '132',
 '133',
 '211',
 '212',
 '213',
 '221',
 '222',
 '223',
 '231',
 '232',
 '233',
 '311',
 '312',
 '313',
 '321',
 '322',
 '323',
 '331',
 '332',
 '333']

# *OR*

In [22]:
string="eat"

In [23]:
B=[(x+y+z) for x in string for y in string for z in string]
B

['eee',
 'eea',
 'eet',
 'eae',
 'eaa',
 'eat',
 'ete',
 'eta',
 'ett',
 'aee',
 'aea',
 'aet',
 'aae',
 'aaa',
 'aat',
 'ate',
 'ata',
 'att',
 'tee',
 'tea',
 'tet',
 'tae',
 'taa',
 'tat',
 'tte',
 'tta',
 'ttt']

# ***** OR *****

In [24]:
l1 = ["1","2"]
l2=['a','b']

In [25]:
B=[(x,y) for x in l1 for y in l1]
B

[('1', '1'), ('1', '2'), ('2', '1'), ('2', '2')]

# **OR**

In [26]:
B=[(x,y) for x in l1 for y in l2]
B

[('1', 'a'), ('1', 'b'), ('2', 'a'), ('2', 'b')]

# Q10.Create a list of all the numbers that are divisible by 3 and 5 from a given list of integers using list comprehension.

In [27]:
list1=[3,2,12,15,9,20,10,25,35,30,75,90,50]

In [28]:
list2=[i for i in list1 if i%3==0 and i%5==0]

In [29]:
list2

[15, 30, 75, 90]

In [30]:
l=[i for i in range(1,100) if i%5==0]

In [31]:
l

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [32]:
l2=[i for i in range(1,100) if i%3==0]

In [33]:
l2

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]