# Q10.   Create a string of all the characters in a given list of strings

In [1]:
list1=['hello','coder','lets','learn','python']

In [2]:
list1

['hello', 'coder', 'lets', 'learn', 'python']

In [3]:
for i in list1:
    string=" ".join(list1)
print(string)

hello coder lets learn python

In [4]:
string

'hello coder lets learn python'

# Q11.   Remove all the punctuation characters from a given string.

In [5]:
string = "Hello@#%  Welcome!!!!"
new_string = " "

In [6]:
for i in string:
    if i.isalnum() or i.isspace():
        new_string+=i
print(new_string)  # no punctuation marks

 Hello  Welcome

# Q12.  Count the number of times each character appears in a given string.

In [1]:
string =" Hello welcome and lets learn DATA SCIENCE"
string=string.lower()
list1=list(string)

In [2]:
for i in list1:
    print(i,":",list1.count(i))

  : 7
h : 1
e : 7
l : 5
l : 5
o : 2
  : 7
w : 1
e : 7
l : 5
c : 3
o : 2
m : 1
e : 7
  : 7
a : 4
n : 3
d : 2
  : 7
l : 5
e : 7
t : 2
s : 2
  : 7
l : 5
e : 7
a : 4
r : 1
n : 3
  : 7
d : 2
a : 4
t : 2
a : 4
  : 7
s : 2
c : 3
i : 1
e : 7
n : 3
c : 3
e : 7

# Q 13. Capitalize the first letter of each word in a given string.

In [3]:
string = " learn data science "
string=string.title()  # use title method of string
string

' Learn Data Science '

# Q14.Create a string of all the unique characters in a given string.

In [4]:
string="Data science"
set(string)  # set isused to get all unique characters of string.

{' ', 'D', 'a', 'c', 'e', 'i', 'n', 's', 't'}

# Q15.Find all the substrings of a given string. or all possible slices of a string.

In [5]:
string="Datascience."
sub_string=[]
for i in range(0,len(string)):
    for j in range(i+1,len(string)+1):
        sub_string.append(string[i:j])
print(sub_string)  # all possible sub strings

['D', 'Da', 'Dat', 'Data', 'Datas', 'Datasc', 'Datasci', 'Datascie', 'Datascien', 'Datascienc', 'Datascience', 'Datascience.', 'a', 'at', 'ata', 'atas', 'atasc', 'atasci', 'atascie', 'atascien', 'atascienc', 'atascience', 'atascience.', 't', 'ta', 'tas', 'tasc', 'tasci', 'tascie', 'tascien', 'tascienc', 'tascience', 'tascience.', 'a', 'as', 'asc', 'asci', 'ascie', 'ascien', 'ascienc', 'ascience', 'ascience.', 's', 'sc', 'sci', 'scie', 'scien', 'scienc', 'science', 'science.', 'c', 'ci', 'cie', 'cien', 'cienc', 'cience', 'cience.', 'i', 'ie', 'ien', 'ienc', 'ience', 'ience.', 'e', 'en', 'enc', 'ence', 'ence.', 'n', 'nc', 'nce', 'nce.', 'c', 'ce', 'ce.', 'e', 'e.', '.']

# Q16. Create a string of all the words in a given sentence in reverse order.

In [6]:
string=" Hello coders learn data science"

In [7]:
list1=string.split()

In [8]:
list1

['Hello', 'coders', 'learn', 'data', 'science']

In [9]:
list1=list1[-1::-1]

In [10]:
list1

['science', 'data', 'learn', 'coders', 'Hello']

In [11]:
string1=" ".join(list1)

In [12]:
string1

'science data learn coders Hello'

In [13]:
string=input("enter a string : ")
for i in string:
    list1=string.split()
    list1=list1[-1::-1]
    string1=" ".join(list1)
print(string1)

enter a string : Lets learn data science
science data learn Lets