In [ ]:
Q1.print output of multiplication Table of entered number using for loop.

In [1]:
a=int(input("Enter a number for multiplication = "))
for i in range(1,11):
    print(a,"x",i,"=",a*i)

Enter a number for multiplication = 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
Q2.Get output number of repeatation of a letter in a string.

In [2]:
s="Hellow fellow"
set(s)
for i in set(s):
    print(i,":",s.count(i))

e : 2
w : 2
l : 4
o : 2
  : 1
H : 1
f : 1

In [ ]:
Q3.Find FACTORIAL OF given number:

In [3]:
n = int(input("Enter a number to get factorial = "))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter a number to get factorial = 7
5040

In [ ]:
Q4.find out number of students scores above 40 from a list of studens with index as roll number.

In [4]:
l=[12,51,18,89,36,45,74,67,35,21,35]

In [5]:
for i in l:
    if i >= 40:
        print(i,":","pass")

51 : pass
89 : pass
45 : pass
74 : pass
67 : pass

In [ ]:
Q5.sort string and int value filled by the customers.

In [6]:
l=[10,56,84,37,"48","25",65,"78"]

In [7]:
i=0
string_list=[]
int_list=[]

In [8]:
while i<len(l):
    if type(l[i])==int:
        int_list.append(l[i])
    else:
        string_list.append(l[i])
    i+=1
print(string_list,"wrong data")
print(int_list,"correct data")

['48', '25', '78'] wrong data
[10, 56, 84, 37, 65] correct data

In [ ]:
Q6.Factorial using While Loop:

In [9]:
def factorial(n):
    num = 1
    while n >= 1:
        num = num * n
        n = n - 1
    return num

In [10]:
f = factorial(5)
print(f)

120

In [11]:
factorial(6)

720

In [ ]:
Q7.Find total expense of n number of employees A B C using "Function"

In [12]:
A=[3520,500,2300,1000,1800]
B=[4500,1000,1200,4000,300]
C=[1300,4520,3620,1000,4520]

In [13]:
def expense(name):
    total_expense=0
    for i in name:
        total_expense=total_expense+i
    print(total_expense)

In [14]:
expense(A)

9120

In [15]:
expense(B)

11000

In [16]:
expense(C)

14960

In [ ]:
Q8.Get output only captital letters and its count:

In [22]:
s="WeLL DonE,sUPPERb"
set(s)
for i in set(s) :
    if i.isupper()==True:
        print(i,":",s.count(i),"times")

E : 2 times
D : 1 times
L : 2 times
W : 1 times
P : 2 times
U : 1 times
R : 1 times

In [ ]:
Q9.find marks below 40 which is fail:

In [23]:
marks=[12,51,18,89,36,45,74,67,35,21,35]

In [29]:
for i in marks:
    if i < 40:
        print(i,":","fail in maths")

12 : fail in maths
18 : fail in maths
36 : fail in maths
35 : fail in maths
21 : fail in maths
35 : fail in maths