# Q1.Python Program to Insert Element in a List.

In [ ]:
list.insert(position, element)

In [1]:
list1 = ['Hello', 'Welcome']
list1.insert(1, "and")
print(list1)

['Hello', 'and', 'Welcome']

In [2]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
 
# insert 10 at 4th index
list1.insert(4, 10)
print(list1)

[1, 2, 3, 4, 10, 5, 6, 7]

In [ ]:
Error of insert() Method
Here, we are inserting 1 at the 10th position in a Python list, we will get an error, 
If we try to insert anything in a string because the string doesn’t have attribute insert().

In [3]:
# attribute error
string = "1234567"
 
string.insert(10, 1)
print(string)

AttributeError: 'str' object has no attribute 'insert'

In [4]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(0, 'orange')
print(fruits)

['orange', 'apple', 'banana', 'cherry']

# Q2.Python Program to Delete Element from a List.

In [5]:
list1 = ['a', 'b', 'c']
list1.remove("b")
print(list1)

['a', 'c']

In [ ]:
In this example, we are removing the element  ‘e’ which does not exist.

In [6]:
# removes 'e' from list2
list2 = [ 'a', 'b', 'c', 'd' ]
 
list2.remove('e')
print(list2)

ValueError: list.remove(x): x not in list

In [7]:
# of removing 1 until all 1 are removed from the list

list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]

# looping till all 1's are removed
while (list1.count(1)):
    list1.remove(1)

print(list1)

[2, 3, 4, 4, 5]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers = list(filter(lambda x: x != 3, numbers))
print(numbers)

[1, 2, 4, 5]

# Q3.Python Program to Multiply all Numbers in List.

In [17]:
list1=[1,2,3,4,5,6]
num=1
for i in list1:
    num=i*num
print("1*2*3*4*5*6 =",num)

1*2*3*4*5*6 = 720

In [21]:
# Python program to multiply all values in the
# list using traversal


def multiplyList(myList):
    result = 1 
    for x in myList:
        result = result * x  # Multiply elements one by one
    return result

# Driver code
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [22]:
import math
list1 = [1, 2, 3]
list2 = [3, 2, 4]
 
result1 = math.prod(list1)
result2 = math.prod(list2)
print(result1)
print(result2)

6
24