# Q1.Generate a Python list of all the even numbers between 4 to 30.

In [12]:
list1=[]
for i in range(4,31,2):
        list1.append(i)
print(list1)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [14]:
print(list(range(4, 31, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# Q2.Display three string “Name”, “Is”, “James” as “Name****Is****James”.

In [16]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

# Q3.Concatenate two lists in the following order.

In [24]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [45]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
    list3.append(i)
    for j in list2:
        list3.append(j)
        break
print(list3)

['Hello ', 'Dear', 'take ', 'Dear']

In [46]:
list3

['Hello ', 'Dear', 'take ', 'Dear']

# Q4.Add new item to list after a specified item.

In [47]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# understand indexing
# list1[0] = 10
# list1[1] = 20
# list1[2] = [300, 400, [5000, 6000], 500]
# list1[2][2] = [5000, 6000]
# list1[2][2][1] = 6000

# solution
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Q5.Replace list’s item with new value if found.

In [48]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# get the first occurrence index
index = list1.index(20)

# update item present at location
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]