# 7.  Create a list of all the first letters of words in a given sentence.

In [1]:
sentence = " Lets start learning Data Science. "

In [2]:
l= sentence.split()
l1=[]

In [3]:
l

['Lets', 'start', 'learning', 'Data', 'Science.']

In [4]:
for i in l:
    l1.append(i[0])
print(l1)

['L', 's', 'l', 'D', 'S']

In [5]:
l1  # first letter of each words of a sentence

['L', 's', 'l', 'D', 'S']

# 8. Create a list of all the unique words from a given sentence

In [6]:
sentence = "learn and practice data science. "

In [7]:
l= sentence.split()

In [8]:
l

['learn', 'and', 'practice', 'data', 'science.']

In [9]:
set(l)  # all unique words.

{'and', 'data', 'learn', 'practice', 'science.'}

# 9. Create a list of all the permutations of a given string using list comprehension.

In [ ]:
List comprehension offers a shorter syntax when you want to create a new list 
based on the values of an existing list.

In [10]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# 10.   Convert a given string to lowercase.

In [12]:
string="DATA SCIENCE"
s=string.lower()
s

'data science'

# 11.   Reverse a given string

In [13]:
string

'DATA SCIENCE'

In [14]:
string[::-1]  # reverse of DATA SCIENCE

'ECNEICS ATAD'

# 12. Remove all the vowels from a given string.

In [15]:
#string="education"
string="EDUCATION And Wisdom"
s1=[]

In [16]:
string=string.lower()
for i in string:
    if i!="a" and i!="i" and i!= "o" and i!="e" and i!="u":
        s1.append(i)
print(s1)    # all vowels in the string is removed

['d', 'c', 't', 'n', ' ', 'n', 'd', ' ', 'w', 's', 'd', 'm']

# 13.Find all the digits in a given string

In [17]:
string="hello 1 23 45 6 and good bye"
s1 = string.split()
s1

['hello', '1', '23', '45', '6', 'and', 'good', 'bye']

In [18]:
for i in string:
    if i.isdigit():
        print(i)

1
2
3
4
5
6